<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="__public__static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="__public__static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="__public__lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="__public__static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="__public__static/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>新增小节内容</title>
</head>
<body>
<div class="page-container">
	<form class="form form-horizontal" id="form-article-add" action="{:url('admin/scontent/setcont')}" method="post" enctype="multipart/form-data">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">
				<span class="c-red">*</span>系部栏目：
			</label>
			<div class="formControls col-xs-8 col-sm-9">
				<span class="select-box">
					<select name="xibu" id="xibu" class="select">
						{if condition="$info neq false" }
						{foreach name="info" id="val" key="k"}
						<option value="{$val.ma_id}">{$val.ma_name}</option>
						{/foreach}
						{else /}
						<option value="0">暂无数据</option>
						{/if}
					</select>
				</span>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">
				<span class="c-red">*</span>专业名称：
			</label>
			<div class="formControls col-xs-8 col-sm-9">
				<span class="select-box">
					<select name="maj" id="maj" class="select">
						<option value="0">请先选择系部</option>
					</select>
				</span>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">
				<span class="c-red">*</span>课程名称：
			</label>
			<div class="formControls col-xs-8 col-sm-9">
				<span class="select-box">
					<select name="cour" id="cour" class="select">
						<option value="0">请先选择专业</option>
					</select>
				</span>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">
				<span class="c-red">*</span>课程单元：
			</label>
			<div class="formControls col-xs-8 col-sm-9">
				<span class="select-box">
					<select name="units" id="units" class="select">
						<option value="0">请先选择课程</option>
					</select>
				</span>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">
				<span class="c-red">*</span>小节名称：
			</label>
			<div class="formControls col-xs-8 col-sm-9">
				<span class="select-box">
					<select name="sec" id="sec" class="select">
						<option value="0">请先选择课程单元</option>
					</select>
				</span>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">
				<span class="c-red">*</span>标题：
			</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" name="tit" id="" placeholder="" value="" class="input-text">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">详细内容：</label>
			<div class="formControls col-xs-8 col-sm-9"> 
				<script id="editor" type="text/plain" style="width:100%;height:400px;"></script> 
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">上传资源：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<span class="btn-upload form-group">
					<input class="input-text upload-url radius" id="geturl" type="text" name="uploadfile-1" id="uploadfile-1" readonly><a href="javascript:void();" class="btn btn-primary radius"><i class="iconfont">&#xf0020;</i> 浏览文件</a>
					<input type="file" name="file" multiple name="file-1" class="input-file">
				</span>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">
				<span class="c-red">*</span>链接题库：
			</label>
			<div class="formControls col-xs-8 col-sm-9">
				<span class="select-box">
					<select name="pro" id="pro" class="select">
						<option value="0">请先选择课程</option>
					</select>
				</span>
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button class="btn btn-primary radius" type="Submit"><i class="Hui-iconfont">&#xe632;</i> 保存并提交</button>
				<button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
			</div>
		</div>
	</form>
</div>


<!--_footer 作为公共模版分离出去-->
{include file="../../ttoc/application/admin/view/publics/footer.html" /}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__public__lib/ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript" src="__public__lib/ueditor/1.4.3/ueditor.all.min.js"> </script>
<script type="text/javascript" src="__public__lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
<script>
	$(document).ready(function(){
		$("#xibu").click(function(){
			var mid = $("#xibu").val();
			if(mid != '')
			{
				$.ajax({
					async:false,
					cache:true,
					type:"post",
					dataType:"html",
					data:{"mid":mid},
					url:"{:url('admin/units/unitajax')}",
					error:function(request){
						alert("链接错误");
					},
					success:function(data){
						var res = eval('('+data+')');
						var s='';
						for(i in res)
						{
							s += "<option value="+res[i].ma_id+">"+res[i].ma_name+"</option>";
						}
						$("#maj").html(s);
					}
				});
			}
		});
		$("#maj").click(function(){
			var zid = $("#maj").val();
			$.ajax({
				async:false,
				cache:true,
				type:"post",
				dataType:"html",
				data:{"zid":zid},
				url:"{:url('admin/units/unitcours')}",
				error:function(request)
				{
					alert("链接错误");
				},
				success:function(data)
				{
					var res = eval('('+data+')');
					var val = '';
					if(res[0].co_id==0)
					{
						val = "<option value='0'>"+"暂未添加课程"+"</option>";
					}else
					{
						for(i in res){
							val += "<option value="+res[i].co_id+"-"+res[i].co_code+">"+res[i].co_name+"</option>";
						}
					}
					
					$("#cour").html(val);
				}
			});
		});
		$("#cour").click(function(){
			var val = $("#cour").val();
			getpros(val);
			if(val!='')
			{
				$.ajax({
					cache:true,
					async:false,
					url:"{:url('admin/section/getuns')}",
					data:{"cours":val},
					dataType:"html",
					type:"post",
					error:function(request)
					{
						alert("链接错误");
					},
					success:function(data)
					{
						var res = eval('('+data+')');
						var val = '';
						if(res[0].un_id!=0)
						{
							for(i in res)
							{
								val += "<option value="+res[i].un_id+">"+res[i].un_name+"</option>";
							}
						}else{
							val = "<option value='0'>"+"暂未添加课程单元"+"</option>";
						}
						$("#units").html(val);
					}
				});
			}
		});
		$("#units").click(function(){
			var val = $("#units").val();
			var cour = $("#cour").val();
			var scont = val+"-"+cour;
			if(val!=0 && cour!=0)
			{
				$.ajax({
					async:false,
					cache:true,
					type:"post",
					dataType:"html",
					url:"{:url('admin/scontent/getsecs')}",
					data:{"units":scont},
					error:function(request){
						alert("链接错误");
					},
					success:function(data)
					{
						var res = eval('('+data+')');
						var s='';
						if(res[0].un_id!=0)
						{
							for(i in res)
							{
								s += "<option value="+res[i].un_id+">"+res[i].un_name+"</option>";
							}
						}else{
							s = "<option value='0'>"+"暂未添加小节"+"</option>";
						}
						$("#sec").html(s);
					}
				});
			}
		});
	})
	function getpros(val)
	{
		$.ajax({
			async:false,
			cache:true,
			type:"post",
			dataType:"html",
			url:"{:url('admin/scontent/getpro')}",
			data:{"pros":val},
			error:function(request){
				alert("链接错误");
			},
			success:function(data){
				var res = eval('('+data+')');
				var s='';
				if(res[0].pr_id!=0)
				{
					for(i in res)
					{
						s += "<option value="+res[i].pr_id+">"+res[i].pr_id+"</option>";
					}
				}else{
					s = "<option value='0'>"+"暂未添加作业"+"</option>";
				}
				$("#pro").html(s);
			}
		});
	}
</script>
<script>
$(function(){
	var ue = UE.getEditor('editor');
});
</script>
</body>
</html>