<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="__public__static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="__public__static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="__public__lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="__public__static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="__public__static/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>系部修改</title>
<link href="lib/webuploader/0.1.5/webuploader.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="page-container">
	<form class="form form-horizontal" id="form-article-add">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>系部名称：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" name="xibu" class="input-text" value="{$info['ma_name']}" placeholder="" id="" name="">
			</div>
			<input type="hidden" name="id" value="{$info['ma_id']}" />
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button onClick="article_save_submit();" id="btns" class="btn btn-primary radius" type="button"><i class="Hui-iconfont">&#xe632;</i> 保存并提交</button>
				<button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
			</div>
		</div>
	</form>
</div>


<!--_footer 作为公共模版分离出去-->
{include file="../../ttoc/application/admin/view/publics/footer.html" /}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__public__lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="__public__lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="__public__lib/jquery.validation/1.14.0/messages_zh.js"></script> 
<script>
	$(document).ready(function(){
		$("#btns").click(function(){
			var fms = $("#form-article-add").serialize();
			$.ajax({
				cache:true,
				type:"post",
				dataType:"html",
				async:false,
				data:fms,
				url:"{:url('admin/csystem/xbmodajax')}",
				error:function(request){
					alert("链接错误");
				},
				success:function(data)
				{
					var res = eval('('+data+')');
					alert(res.info);
					if(res.id==1)
					{
						window.location.href=res.url;
					}
				}
			});
		});
	})
</script>
</body>
</html>