<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="__public__static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="__public__static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="__public__lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="__public__static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="__public__static/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>修改题目</title>
</head>
<body>
<div class="page-container">
	<form class="form form-horizontal" id="form-article-add">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">
				<span class="c-red">*</span>系部：
			</label>
			<div class="formControls col-xs-8 col-sm-9">
				<span class="select-box">
					<select name="xibu" id="xibu" class="select">
						<option value="{$dep[0]['ma_id']}">{$dep[0]['ma_name']}</option>
					</select>
				</span>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">
				<span class="c-red">*</span>专业：
			</label>
			<div class="formControls col-xs-8 col-sm-9">
				<span class="select-box">
					<select name="maj" id="maj" class="select">
						<option value="{$maj[0]['ma_id']}">{$maj[0]['ma_name']}</option>
					</select>
				</span>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">
				<span class="c-red">*</span>课程：
			</label>
			<div class="formControls col-xs-8 col-sm-9">
				<span class="select-box">
					<select name="cour" id="cour" class="select">
						<option value="{$cour[0]['co_id']}-{$cour[0]['co_code']}">{$cour[0]['co_name']}</option>
					</select>
				</span>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>标题：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" name="tit" class="input-text" value="{$info[0]['pr_content']}" placeholder="" id="" name="">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">
				<span class="c-red">*</span>类型：
			</label>
			<div class="formControls col-xs-8 col-sm-9">
				<span class="select-box">
					<select name="types" class="select">
						<option {if condition="$info[0]['pr_type'] eq 1"}selected{/if} value="1">单项选择</option>
						<option {if condition="$info[0]['pr_type'] eq 2"}selected{/if} value="2">多项选择</option>
					</select>
				</span>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">题干：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<textarea name="stem" cols="" rows="" class="textarea"  placeholder="题干|题干|题干|题干" datatype="*10-100" dragonfly="true" nullmsg="备注不能为空！">
					{$info[0]['pr_problem']}
				</textarea>
				<p class="textarea-numberbar"><em class="textarea-length">0</em>/200</p>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>选项：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" name="cho" class="input-text" value="{$info[0]['pr_letter']}" placeholder="A|B|C|D" id="" name="">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>答案：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" name="ans" class="input-text" value="{$info[0]['pr_answer']}" placeholder="D" id="" name="">
			</div>
		</div>
		<input type="hidden" value="{$info[0]['pr_id']}" name="pid" />
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button class="btn btn-primary radius" id="btns" type="button"><i class="Hui-iconfont">&#xe632;</i> 保存并提交</button>
				<button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
			</div>
		</div>
	</form>
</div>


<!--_footer 作为公共模版分离出去-->
{include file="../../ttoc/application/admin/view/publics/footer.html" /}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__public__lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="__public__lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="__public__lib/jquery.validation/1.14.0/messages_zh.js"></script> 
<script>
	$(document).ready(function(){
		$("#btns").click(function(){
			var val = $("#form-article-add").serialize();
			val = decodeURIComponent(val,true);//解码serialize出现中文乱码问题
			$.ajax({
				cache:true,
				async:false,
				data:val,
				dataType:"html",
				type:"post",
				url:"{:url('admin/works/prominfo')}",
				error:function(request){
					alert("链接错误");
				},
				success:function(data){
					var res = eval('('+data+')');
					alert(res.info);
					if(res.id==1)
					{
						window.location.href=res.url;
					}
				}
			});
		});
	})
</script>

</body>
</html>